# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/
dist/

# Env / secrets
.env
.env.*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Logs
npm-debug.log*
*.log
